:root {
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210 46% 95%);
  --clr-neutral-300: hsl(212 23% 69%);
  --clr-neutral-400: hsl(214 17% 51%);
  --clr-neutral-500: hsl(217 19% 35%);

  --bg-clr: var(--clr-neutral-200);
  --footer-txt-clr: var(--clr-neutral-500);
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./fonts/manrope-v13-latin-500.woff2") format("woff2"),
    url("./fonts/manrope-v13-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/manrope-v13-latin-700.woff2") format("woff2"),
    url("./fonts/manrope-v13-latin-700.woff") format("woff");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  background-color: var(--bg-clr);
  color: var(--clr-neutral-400);
}

main {
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 2rem;
  padding-top: 30px;
  display: grid;
  justify-content: center;
}

.card {
  width: 330px;
  height: min-content;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem hsl(212 23% 69% / 0.3);
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__content {
  padding: 2.2rem 2rem 1.2rem;
}

.card__title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-neutral-500);
  margin-bottom: 0.7rem;
}

.card__desc {
  width: 31ch;
  line-height: 1.5;
}

.card__footer {
  position: relative;
}

.card__info,
.card__share-sect {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.card__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.card__user-name {
  font-weight: 700;
  color: var(--clr-neutral-500);
  margin-bottom: 0.1rem;
}
.card__date {
  color: var(--clr-neutral-300);
}
.button-share {
  pointer-events: all;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--clr-neutral-200);

  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  transition: all 100ms ease-in;
}
.button-share svg {
  fill: var(--clr-neutral-400);
}

.button-share:hover svg {
  fill: var(--clr-neutral-300);
}
.button-share:hover {
  background-color: var(--clr-neutral-500);
}

.share-wrapper {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.card__share-sect {
  pointer-events: all;
  background-color: var(--clr-neutral-500);

  height: 100%;

  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in;
}
.card__share-sect-title {
  text-transform: uppercase;
  color: var(--clr-neutral-300);
  letter-spacing: 5px;
}
.share-list {
  display: flex;
  align-items: center;
}
.share-item {
  margin-left: 1rem;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: var(--bg-clr);
  color: var(--footer-txt-clr);
}

@media (min-width: 1440px) {
  main {
    place-items: center;
  }

  .card {
    width: 730px;
    display: flex;
    overflow: initial;
  }
  .card__img {
    flex-basis: 40%;
    height: auto;
    object-position: left;
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
  }
  .card-wrapper {
    flex-basis: 60%;
  }

  .card__content {
    padding-top: 2rem;
    padding-bottom: 0;
  }

  .card__title {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 0.9rem;
  }

  .card__desc {
    width: auto;
  }

  .card__info {
    padding-top: 1.3rem;
    padding-bottom: 2rem;
  }

  .button-share {
    position: static;
    transform: none;
  }

  .card__footer {
    display: flex;
  }
  .share-wrapper {
    position: relative;
    inset: initial;
    top: 0;
    right: 2.5rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__share-sect {
    --share-sect-width: 240px;
    position: absolute;
    inset: initial;
    top: -30%;
    left: calc(50% - calc(var(--share-sect-width) / 2));
    width: var(--share-sect-width);
    height: max-content;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0.5rem 0.5rem hsl(212 23% 69% / 0.5));
  }
  .card__share-sect::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--clr-neutral-500);
  }

  .show {
    visibility: visible;
    opacity: 1;
    top: -50%;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}
.active {
  background-color: var(--clr-neutral-400);
}

.active svg {
  fill: var(--clr-neutral-100);
}
